.imgFilms {
  width: 270px;
  border-radius: 10px;
}

.catalogFilms {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  width: 380px;
  margin-left: 95px;
}
.SoloFilm {
  display: flex;
  width: 265px;
  text-align: center;
  margin-bottom: 50px;
}
.SoloFilmInfo {
  width: 950px;
}
.film {
  display: inline-flex;
  text-align: center;
  text-align: center;
  justify-content: space-around;
  width: 380px;
  margin-left: 95px;
}
.itemFilms {
  display: flex;
  flex-wrap: wrap;
}

.itemGenres {
  display: flex;
  flex-wrap: wrap;
}

.cardGenres {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FilmName {
  font-size: 25px;
  width: 370px;
  margin-bottom: 10px;
  color: white;
  font-family: Corbel;
  text-decoration: none;
}
.SoloFilmName {
  font-size: 25px;
  width: 930px;
  margin-bottom: 10px;
  color: white;
  font-family: Corbel;
  text-decoration: none;
}

.imgFilm {
  width: 270px;
  height: 400px;
  border-radius: 10px;
  border: 2px solid grey;
}
.ratingFilm {
  width: 930px;
  font-size: 18px;
  color: white;
  font-family: Corbel;
  margin-top: 20px;
}
.playDiv{
  width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.play {
  width: 560px;
  height: 315px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.GenreFilm {
  width: 930px;
  font-size: 20px;
  color: white;
  font-family: Corbel;
}
.imgGenres {
  width: 280px;
  height: 185px;
  border-radius: 10px;
}
.genreName {
  font-size: 25px;
  width: 370px;
  margin-bottom: 10px;
  color: bisque;
  font-family: Corbel;
}

.cardFilms {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.filmDescription {
  color: white;
  text-align: justify;
  font-size: 20px;
  width: 370px;
  margin-bottom: 10px;
  color: white;
  width: 500px;
  font-family: Corbel;
  margin-left: 220px;
}

.catalogGenres {
  display: inline-flex;
  text-align: center;
  text-align: center;
  justify-content: space-around;
  width: 380px;
  margin-left: 95px;
  margin-bottom: 26px;
}

.header {
  text-align: center;
  color: #100e19;
  background-color: #eb0040;
  display: flex;
  width: 80%;
  height: 70px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 50px;
  border-radius: 5px;
  text-decoration: none;
}

.headInfo {
  color: #100e19;
  font-size: 24px;
  text-decoration: none;
  font-family: Corbel;
}
.search{
  display: flex;
  background: #100e19;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}
.searchBtn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eb0040;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}
.searchBtn > i {
  font-size: 30px;
}
.search:hover > .searchText{
  width: 240px;
  padding: 0 6px;
}
.searchText{
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
  font-weight: bold;
}
icon{
  padding-top: 5px;
}
.siteName {
  font-size: 40px;
  font-family: Trattatello, fantasy;
}
.KinoPoisk{
  text-decoration: none;
  color: #100e19;
}

.firstFilmInfo {
  color: white;
  font-family: Corbel;
  font-size: 16px;
  width: 270px;
  text-decoration: none;
  text-align: justify;
}

.NewsFilms {
  display: flex;
  text-align: center;
  width: 1000px;
  display: inline-flex;
  justify-content: space-between;
  color: white;
  font-size: 24px;
  font-family: Corbel;
  margin-bottom: 24px;
}

.FirstFilm {
  display: flex;
  padding-right: 10px;
  width: 1200px;
  text-align: center;
  margin-bottom: 20px;
}

.FirstFilmName {
  font-size: 33px;
  color: white;
  font-family: Corbel;
  width: 670px;
  padding-bottom: 35px;
  margin: 0 auto;
}

.img2 {
  border-radius: 10px;
  margin-right: 30px;
  margin-left: 35px;
  width: 280px;
  height: 220px;
  border-radius: 10px;
  border: 2px solid grey;
}

.site {
  text-align: center;
  width: 1300px;
  display: inline-flex;
  justify-content: space-between;
}

.imgCinema {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  border: 2px solid grey;
}
.CinemaInfo {
  font-size: 20px;
  display: inline-flex;
  padding: 30px;
  font-family: Corbel;
  justify-content: space-between;
  width: 1200px;
  margin-bottom: 20px;
}
.CinemaDiv {
  padding-bottom: 20px;
  color: white;
  justify-content: space-between;
  text-align: center;

}

body {
  margin: 0;
  background-color: #100e19;
}

.textCinema {
  color: white;
  font-size: 28px;
  font-family: Corbel;
  margin-top: 30px;
}

.footer {
  text-align: center;
  color: #100e19;
  background-color: cornflowerblue;
  display: flex;
  width: 80%;
  border-radius: 8px;
  height: 70px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  background: #eb0040;
  text-align: justify;
}
.AboutUs{
  font-size: 20px;
  width: 700px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
  font-family: Corbel;
}

.soc {
  font-family: Corbel;
  font-size: 25px;
  text-decoration: none;
  color: #100e19;
}

.imgTransition{
  display: inline-block;
  overflow: hidden;
  border: 2px solid grey;
  border-radius: 10px;
}

.imgTransition img{
  transition: 1s;
  display: block;
}
.imgTransition img:hover{
  transform: scale(1.2);
}
